@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* pour éviter d'écraser le haut */
  overflow-y: auto;
}

.container {
  width: 90%;
  max-width: 1000px;
  min-height: 600px;
  height: auto;
  display: flex;
  background: #fff;
  border-radius: 15px;
  overflow: visible;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  margin: 40px auto;
}


.form-container {
  flex: 1;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Important : pour coller le logo en haut */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
  height: auto;
}


h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

p {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input-group input:focus {
  border-color: #0b74de;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox label {
  font-size: 14px;
  margin-left: 5px;
}

.btn {
  background: #0b74de;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #095bb1;
}

.social-login {
  text-align: center;
  margin-top: 20px;
}

.social-login p {
  margin-bottom: 10px;
}

.icons img {
  width: 32px;
  margin: 0 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icons img:hover {
  transform: scale(1.1);
}

.login-text {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.login-text a {
  color: #0b74de;
  text-decoration: none;
}

/* Right side - image and text */
.image-container {
  flex: 1;
  background: url('../images/photo-1498050108023-c5249f4df085.avif') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.overlay {
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.4);
  border-radius: 15px;
}

.overlay h2 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 500;
}

.overlay span {
  font-weight: 600;
}

.overlay p {
  margin-top: 10px;
  font-size: 14px;
}



